---
import SocialBar from "./SocialBar.astro";

const year = new Date().getFullYear();
---

<footer class="footer">
  <div class="content has-text-centered">
    <div class="mb-4 is-flex is-justify-content-center">
      <SocialBar />
    </div>
    <p>
      <a aria-label="Follow Domenico on Linktree" href="https://brandcraft-flame.vercel.app/">© BrandCrafts {year}</a>
    </p>
  </div>
</footer>
