---
import { Icon } from "astro-icon/components";
import menuOptions from "../../data/menu-options.json";
import SearchBoxOrama from "./SearchBoxOrama.vue";
import { localizePath } from "astro-i18next";
---

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand mt-4-desktop pt-4 mb-2 ml-2">
    <a class="navbar-item" href={localizePath("/")}>
      <h1 class="is-size-3 is-size-5-mobile tertiary-color f-normal">
        Mrs Omoro
      </h1>
    </a>
    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbar-id"
    >
      <span aria-hidden="false"></span>
      <span aria-hidden="false"></span>
      <span aria-hidden="false"></span>
    </a>
  </div>

</nav>

<script>
  import { setTheme } from "../../utils/theme";

  function openBurger() {
    const $navbarBurgers = Array.prototype.slice.call(
      document.querySelectorAll(".navbar-burger"),
      0
    );

    $navbarBurgers.forEach((element) => {
      element.addEventListener("click", () => {
        const target = element.dataset.target;
        const $target = document.getElementById(target) as HTMLElement;

        element.classList.toggle("is-active");

        $target!.classList.toggle("is-active");
      });
    });
  }

  document
    .querySelector(".baseline-dark-mode")
    ?.addEventListener("click", () => setTheme());

  document.addEventListener("DOMContentLoaded", () => openBurger());
</script>
